body, ul, li {
    margin: 0;
    padding:0;
    list-style: none;
    color: black;
}
a {
    color:inherit;
    text-decoration:none;
}
.menu  ul {
    display: none;
}
.menu_bar li a{
    display: block;
    padding:10px;
    white-space:nowrap;
}
.menu_bar>ul{
    display: inline-block;
    text-align: center;
}

.menu_bar, .menu_bar ul{
    text-align: center;
    background-color: lightgray;
}
.menu_bar li, .menu_bar>div{
    display: inline-block;
    position: relative;
    width: 100px;
}
.menu:hover{
    background-color: gray;
}

.menu>ul{
    position: absolute;
    font-size: 12px;
    top:100%;
    left: 0;
}
.menu_fin1{
    width: 200px;
}
.menu:hover>ul{
    display: block;
}

.drop_menu1:hover{
    background-color: gray;
}

.drop_menu1:hover ul{
    display: block;
}
.dr_dr_menu{
    position: absolute;
    top:0;
    left:100%;
}
.login{
    right: -30%;
}


