.menu_bar{
  background-color: red;
  padding: 0;
  margin: 0;
  height: 50px;
  border: 1px solid #ccc;
  
}
.menu_bar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu_bar a{
  height: 50px;
  text-decoration: none;
  text-decoration-color: black;
}
.menu_bar .menu:hover{
  
  transition: 0.3s;
  background: cadetblue;
}
.menu_bar .menu:hover > .drop_menu{
  display: block;
}
.menu{
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100px;
  display: inline;
  background-color: lavender;
  text-align: center;
  line-height:45px;
  float: left;
  position: relative;
}
.menu > .drop_menu{
  position: absolute;
  width: 100%; 
  font-size: 12px;
  display: none;
  background-color: darkgrey;
  transition: 0.1s;
  top: 100%;
}
.menu > .drop_menu:hover > .dr_dr_menu{
  display: block;
}
.menu > .drop_menu > .dr_dr_menu{
  top: 0%;
  left: 100%;
  display:none;
}

.menu > .drop_menu1:hover{
  background-color: grey;
}
.menu_fin{
  overflow: hidden;
}
.login{
  padding-right: 20px;
  float: right;
  line-height:45px;
}